.Product {
  display: flex;
  justify-content: space-between;
  padding: 0.8em 1em;
  background: indianred;
  color: white;
}

.Product-name {
  font-weight: bold;
}

.Product-price {
  font-family: monospace;
}
