.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-body {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}